{# src/AppBundle/Resources/views/Default/baños.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Reformas de Baños{% endblock %}
{% block content %}

    <article>
        <header>
            <h1>Reformas en comunidades</h1>
        </header>

        <section>
            <h2>Accesibilidad en patios de comunidades</h2>
            <h3>Bajada del ascensor a cota cero</h3>
            <ul class="gallery" >
                <li class="gallery-item" >
                    <a href="#max-1" id="pop-1" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-2-antes-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-1"></a>
                    <div class="fullsized" >
                        <p>Escalera antes de la reforma</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-2-antes-reforma.jpg') }}" title="Escalera derecha antes de la reforma" alt="Escalera derecha antes de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-2" class="next" ></a>
                        <a href="#max-10" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >
                    <a href="#max-2" id="pop-2" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-2-despues-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-2"></a>
                    <div class="fullsized" >
                        <p>Se retiró parte de la escalera y se instaló una rampa</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-2-despues-reforma.jpg') }}" title="Escalera derecha después de la reforma" alt="Escalera derecha después de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-3" class="next" ></a>
                        <a href="#max-1" class="prev" ></a>
                    </div>
                </li>
                <li class="gallery-item" >
                    <a href="#max-3" id="pop-3" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-antes-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-3"></a>
                    <div class="fullsized" >
                        <p>Otro portal con escalera antes de la reforma</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-antes-reforma.jpg') }}" title="Otra escalera derecha antes de la reforma" alt="Otra escalera derecha antes de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-4" class="next" ></a>
                        <a href="#max-2" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >  
                    <a href="#max-4" id="pop-4" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-despues-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-4"></a>
                    <div class="fullsized" >
                        <p>Con estas rampas facilitan el acceso al ascensor con pocos cambios</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-derecha-despues-reforma.jpg') }}" title="Otra escalera derecha después de la reforma" alt="Otra escalera derecha después de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-5" class="next" ></a>
                        <a href="#max-3" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >
                    <a href="#max-5" id="pop-5" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-2-antes-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-5"></a>
                    <div class="fullsized" >
                        <p>Solo se reemplazó el primer tramo de escalera, que daba al rellano del ascensor</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-2-antes-reforma.jpg') }}" title="Escalera izquierda antes de la reforma" alt="Escalera izquierda antes de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-6" class="next" ></a>
                        <a href="#max-4" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >    
                    <a href="#max-6" id="pop-6" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-2-despues-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-6"></a>
                    <div class="fullsized" >
                        <p>La reforma se realizó en dos portales del mismo bloque aplicando la misma solución</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-2-despues-reforma.jpg') }}" title="Escalera izquierda después de la reforma" alt="Escalera izquierda después de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-7" class="next" ></a>
                        <a href="#max-5" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >
                    <a href="#max-7" id="pop-7" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-antes-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-7"></a>
                    <div class="fullsized" >
                        <p>Cada portal esta formado por dos escaleras</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-antes-reforma.jpg') }}" title="Otra escalera izquierda antes de la reforma" alt="Otra escalera izquierda antes de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-8" class="next" ></a>
                        <a href="#max-6" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >
                    <a href="#max-8" id="pop-8" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-despues-reforma-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-8"></a>
                    <div class="fullsized" >
                        <p>Ascensor accesible para todo el mundo</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Escalera-izquierda-despues-reforma.jpg') }}" title="Otra escalera izquierda después de la reforma" alt="Otra escalera izquierda después de la reforma" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-9" class="next" ></a>
                        <a href="#max-7" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >    
                    <a href="#max-9" id="pop-9" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Bajada-ascensor-1-cota-0-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-9"></a>
                    <div class="fullsized" >
                        <p>Rellano del ascensor al cual da la rampa</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Bajada-ascensor-1-cota-0.jpg') }}" title="Bajada ascensor a cota 0" alt="Bajada ascensor a cota 0" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-10" class="next" ></a>
                        <a href="#max-8" class="prev" ></a>
                    </div>
                </li>

                <li class="gallery-item" >
                    <a href="#max-10" id="pop-10" >
                        <img class="thumbnail" src="{{ asset('images/proyectos/comunidades/accesibilidad/Bajada-ascensor-2-cota-0-thumbnail.jpg') }}" title="Imagen no disponible" alt="Imagen no disponible" />
                    </a>
                    <a href="#x" class="overlay" id="max-10"></a>
                    <div class="fullsized" >
                        <p>Otro de los rellanos con ascensor</p>
                        <img src="{{ asset('images/proyectos/comunidades/accesibilidad/Bajada-ascensor-2-cota-0.jpg') }}" title="Bajada de otro ascensor a cota 0" alt="Bajada otro ascensor a cota 0" />
                        <a href="#close" class="close" ></a>
                        <a href="#max-1" class="next" ></a>
                        <a href="#max-9" class="prev" ></a>
                    </div>
                </li>
            </ul>
        </section>
    </article>
{% endblock %}