{# src/AppBundle/Resources/views/Default/baños.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block keywords %}{{ gallery.name }}{% endblock %}
{% block description %}{{ gallery.description }}{% endblock %}
{% block title %}{{ gallery.name }}{% endblock %}

{% block content %}

    <article>
        <header>
            <h1>{{ gallery.name }}</h1>
        </header>

        <section>
            <p>
                {{ gallery.description }}
            </p>
            <ul class="gallery" >
                {% for image in gallery.images %}
                    <li>
                        <a onclick="load('img-{{ loop.index }}')" >
                            <noscript><a href="{{ asset(image.src ~ '.jpg')}}" target="_blank"></noscript>
                                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                                <img class="thumb" src="{{ asset( image.src ~ '-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
                            </a>
                            <div id="pic-{{ loop.index }}" class="overlay" >
                                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                                <a onclick="load('img-{% if loop.first %}{{ loop.length }}{% else %}{{ loop.index - 1 }}{% endif %}')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                                <a onclick="load('img-{% if loop.last %}1{% else %}{{ loop.index + 1 }}{% endif %}')" class="next" ><img src="{{ asset('bundles/app/images/icon/right.png')}}" title="Siguiente" alt="Siguiente" ></a>
                                <img id="img-{{ loop.index }}" data-src="{{ asset(image.src ~ '.jpg')}}" title="{{ image.title }}" alt="{{ image.alt }}" />
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </section>

    </article>
{% endblock %}

{% block extraJS %}
    <script>
        function load(myimg) { // load larger img
            var img = document.getElementById(myimg); // get img id
            img.src = img.getAttribute("data-src"); // switch "data-src" to "src" on corresponding img
            id = myimg.replace(/^\D+/g, ''); // get number id from img id ("#img-1")
            location.replace('#pic-' + id); // go to hashed url without affecting browser history
        }
    </script>
{% endblock %}