{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Impermeabilizaciones en Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/presentacion/oficina.jpg' )}}" alt="Impermeabilizaciones en Zaragoza" title="Impermeabilizaciones en Zaragoza" />
        <figcaption>Impermeabilizaciones en Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Impermeabilizaciones en Zaragoza</h1>    
        <p>
            La <strong>impermeabilizaciones en Zaragoza</strong> o en cualquier otro lugar, son un 
            proceso complejo que requiere de asesoramiento y de la participación de profesionales 
            especializados en el sector constructivo como es el caso de NZ Reformas. Este proceso 
            evita el paso del agua y demás filtraciones para paredes, techos, terrazas, etc. ya que 
            con esta técnica se evita la porosidad de los materiales utilizados en la construcción 
            del edificio. 
        </p>
        <p>
            Lo importante es que las <strong>impermeabilizaciones en Zaragoza</strong> o donde 
            corresponda, deben realizarse en los edificios antiguos o en los de nueva construcción 
            con los materiales adecuados. En el caso de tratarse de edificios antiguos, el proceso 
            de impermeabilización permite que se evite la filtración de agua en un periodo entre 5 
            y 25 años, dependiendo del material que se utilice en la realización de la misma. 
        </p>
        <p>
            En NZ Reformas, realizamos todo tipo de trabajos de <strong>impermeabilizaciones en 
                Zaragoza</strong>, para garantizar la seguridad en las edificaciones y poder alargar
            su vida, evitando la porosidad de sus materiales y por tanto, la filtración de agua
            u otros elementos que pueden deteriorar partes de la finca. Es por ello que lo más 
            recomendable es realizar este tipo de trabajos con los profesionales adecuados para 
            garantizar que tanto la aplicación como el resultado final sea el correcto. Ya que, 
            además de realizar la instalación de los materiales adecuados, es importante también
            disponer del sistema de drenajes que mejor funcione y nos permita optimizar los 
            materiales para evitar las filtraciones. 
        </p>
        <p>
            No lo dude más y contáctenos si necesita realizar <strong>impermeabilizaciones en 
                Zaragoza</strong> a través de nuestra <a href="{{ path('app_contact',{'page': 'contacto' }) }}" >página de
                contacto</a>, correo electrónico (info@nzreformas.es) o teléfono (976 56 55 24). En 
            NZ Reformas estaremos encantados en proporcionarle el asesoramiento necesario para 
            indicarle el tipo de impermeabilización que mejor se adapte a su edificio o espacio,
            así como todo lo necesario para que el trabajo final le proporcione el mejor 
            aislamiento. 
        </p>
        <section class="dark-wrapper" >
                <div class="half" >
                    <h2>
                        ¿Porqué elegir NZ Reformas?
                    </h2>
                    <ul class="trinity" >
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/home.png') }}" title="Más de 20 años de experiencia" alt="Más de 20 años de experiencia" />
                            <div class="text" >
                                <h3>Más de 20 años de experiencia</h3>
                                <p>
                                    En NZ Reformas, somos expertos en Reformas, rehabilitación e interiorismo.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/savings.png') }}" title="Financiación sin bancos" alt="Financiación sin bancos" />
                            <div class="text" >
                                <h3>Financiación sin bancos</h3>
                                <p>
                                    Podrá elegir la opción de financiación que mejor se adapte a sus necesidades.
                                </p>
                            </div>

                        </li>
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/calculator.png') }}" title="Presupuesto sin compromiso" alt="Presupuesto sin compromiso" />
                            <div class="text" >
                                <h3>Presupuesto sin compromiso</h3>
                                <p>
                                    Solicítenos presupuesto y le daremos nuestra mejor oferta. Contáctenos en 
                                    nuestra oficina de Zaragoza.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="half">
                    <h2>
                        Solicita presupuesto sin compromiso
                    </h2>
                    <p>
                        Si tiene un proyecto que realizar, contáctenos y convertiremos en realidad todas
                        sus ideas y le proporcionaremos el asesoramiento integral necesario para que 
                        pueda desarrollar sus tareas profesionales y personales en los espacios mejor 
                        acondicionados.
                    </p>
                    <form action="{{ path('app_contact',{'page': 'contacto' }) }}" method="post" {{ form_enctype(form) }} class="Contact">
                        {{ form_errors(form) }}

                        {{ form_row(form.name, {'label': 'Nombre'}) }}
                        {{ form_row(form.phone, {'label': 'Teléfono / Móvil',
                'attr': {'placeholder': 'Facilitar su teléfono podría agilizar el proceso. ¡Gracias!'} })}}
                        {{ form_row(form.email, {'label': 'E-mail'}) }}
                        {{ form_row(form.body, {'label': 'Mensaje'}) }}

                        {{ form_rest(form) }}

                        <input type="submit" value="Enviar" />
                    </form>
                </div>
            </section>
    </article>
                        <section class="dark-wrapper" >
                <div class="half" >
                    <h2>
                        ¿Porqué elegir NZ Reformas?
                    </h2>
                    <ul class="trinity" >
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/home.png') }}" title="Más de 20 años de experiencia" alt="Más de 20 años de experiencia" />
                            <div class="text" >
                                <h3>Más de 20 años de experiencia</h3>
                                <p>
                                    En NZ Reformas, somos expertos en Reformas, rehabilitación e interiorismo.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/savings.png') }}" title="Financiación sin bancos" alt="Financiación sin bancos" />
                            <div class="text" >
                                <h3>Financiación sin bancos</h3>
                                <p>
                                    Podrá elegir la opción de financiación que mejor se adapte a sus necesidades.
                                </p>
                            </div>

                        </li>
                        <li>
                            <img src="{{ asset('bundles/app/images/icon/calculator.png') }}" title="Presupuesto sin compromiso" alt="Presupuesto sin compromiso" />
                            <div class="text" >
                                <h3>Presupuesto sin compromiso</h3>
                                <p>
                                    Solicítenos presupuesto y le daremos nuestra mejor oferta. Contáctenos en 
                                    nuestra oficina de Zaragoza.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="half">
                    <h2>
                        Solicita presupuesto sin compromiso
                    </h2>
                    <p>
                        Si tiene un proyecto que realizar, contáctenos y convertiremos en realidad todas
                        sus ideas y le proporcionaremos el asesoramiento integral necesario para que 
                        pueda desarrollar sus tareas profesionales y personales en los espacios mejor 
                        acondicionados.
                    </p>
                    <form action="{{ path('app_contact',{'page': 'contacto' }) }}" method="post" {{ form_enctype(form) }} class="Contact">
                        {{ form_errors(form) }}

                        {{ form_row(form.name, {'label': 'Nombre'}) }}
                        {{ form_row(form.phone, {'label': 'Teléfono / Móvil',
                'attr': {'placeholder': 'Facilitar su teléfono podría agilizar el proceso. ¡Gracias!'} })}}
                        {{ form_row(form.email, {'label': 'E-mail'}) }}
                        {{ form_row(form.body, {'label': 'Mensaje'}) }}

                        {{ form_rest(form) }}

                        <input type="submit" value="Enviar" />
                    </form>
                </div>
            </section>
{% endblock %}