{% extends 'AppBundle::main.html.twig' %}

{% block title %}NZ Reformas e Interiorismo{% endblock %}
{% block description %}Realizamos Reformas en Zaragoza. Contamos con más de 20 años de experiencia, 
    y financiación directa sin bancos. Solicita presupuesto sin compromiso.{% endblock %}

    {% block extra %}
        {% javascripts '@AppBundle/Resources/public/js/slider.js' %}
        <script async src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block content %}

        <div class="container" >
            <div class="slider" >
                <ul>
                    <li>
                        <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-pisos-high.jpg') }}" alt="Reformas de pisos" title="Reformas de pisos" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-pisos' }) }}" >Reformas de pisos</a></div>
                    </li>
                    <li>
                        <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-banos-high.jpg') }}" alt="Reformas de baños" title="Reformas de baños" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-banos' }) }}" >Reformas de baños</a></div>
                    </li>
                    <li>
                        <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-cocinas-high.jpg') }}" alt="Reformas de cocinas" title="Reformas de cocinas" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-cocinas' }) }}" >Reformas de cocinas</a></div>
                    </li>
                    <li>
                        <img class="resized" src="{{ asset('bundles/app/images/presentacion/rehabilitacion-de-edificios-high.jpg') }}" alt="Rehabilitación de edificios" title="Rehabilitación de edificios" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'rehabilitacion-de-edificios' }) }}" >Rehabilitación de edificios</a></div>
                    </li>
                    <li>
                        <img class="resized" src="{{ asset('bundles/app/images/presentacion/oficina-high.jpg') }}" alt="Oficina Construcciones Navascués Zalaya S.L." title="Oficina Construcciones Navascués Zalaya S.L." />
                        <div class="content"><a href="{{ path ('app_static',{'page': 'empresa' }) }}" >Nuestra oficina, Construcciones Navascués Zalaya S.L.</a></div>
                    </li>
                </ul>
            </div>
        </div>

        <header class="logo">
            <img src="{{ asset('bundles/app/images/icon/nz-reformas.png') }}" title="Reformas en Zaragoza" alt="Reformas en Zaragoza" />
        </header>
        <article class="center" >
            <h1>Reformas e Interiorismo</h1>
            <h3>
                Bienvenido a NZ Reformas, somos una empresa de reformas en Zaragoza.
            </h3>
            <p>
                Realizamos todo tipo de reformas, demás de las típicas reformas de pisos: baño, 
                cocina, cambios de suelo, cambio de puertas, instalación, diseño de espacios, ... 
            </p>
            <p>
                También nos dedicamos a la reforma de locales comerciales, reparación de edificios y
                zonas comunes en comunidades de vecinos, incluso impermeabilización de grandes 
                superficies.
            </p>
        </article>

        <ul class="trinity" >
            <li>
                <img src="{{ asset('bundles/app/images/icon/home.png') }}" title="Más de 20 años de experiencia" alt="Más de 20 años de experiencia" />
                <h3>Más de 20 años de experiencia</h3>
                <p>
                    En NZ Reformas, somos expertos en Reformas, Rehabilitaciones e Interiorismo.
                </p>
            </li>
            <li>
                <img src="{{ asset('bundles/app/images/icon/savings.png') }}" title="Financiación sin bancos" alt="Financiación sin bancos" />
                <h3>Financiación directa, "Sin Bancos"</h3>
                <p>
                    Podrá elegir la opción de financiación que mejor se adapte a sus necesidades.
                </p>
            </li>
            <li>
                <img src="{{ asset('bundles/app/images/icon/calculator.png') }}" title="Presupuesto sin compromiso" alt="Presupuesto sin compromiso" />
                <h3>Presupuesto sin compromiso</h3>
                <p>
                    Solicite presupuesto y le daremos nuestra mejor oferta. Sin costes ni compromiso.
                </p>
            </li>
        </ul>
        <article class="center">
            <h2>Interiorismo, algo más que decoración</h2>
            <p>
                Otro de nuestros servicios incluido en todos los proyectos es la distribución de 
                espacios en interior, en otras palabras interiorismo.Planteamos cada proyecto 
                exprimiendo cada posibilidad y desarrollando las opciones  más acordes a las 
                necesidades del cliente.
            </p>
            <h3>
                ¿Cómo hacemos esto?
            </h3>
            <p>
                Se estudia la distribución del espacio a reformar en simulación 3D, así se obtiene 
                una visión detallada sin obra. De esta manera el cliente puede tener una visión 
                exacta del resultado final antes de empezar la reforma, y se pueden reftificar 
                cambios, evitar imprevistos o despejar dudas respecto a las diferentes pisibilidades.
            </p>
        </article>
        <ul class="stacked" >
            <li>
                <a href="{{ path ('app_project',{'project': 'reformas-de-pisos' }) }}" >

                    <div class="bg" >
                        <h3>Pisos</h3>
                    </div>
                    <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-pisos-high.jpg') }}" title="Reformas de pisos" alt="Reformas de pisos" />
                </a>
            </li>
            <li>
                <a href="{{ path ('app_project',{'project': 'reformas-de-banos' }) }}" >
                    <div class="bg" >
                        <h3>Baños</h3>
                    </div>
                    <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-banos-high.jpg') }}" title="Reformas de Baños" alt="Reformas de Baños" />
                </a>
            </li>
            <li>
                <a href="{{ path ('app_project',{'project': 'reformas-de-cocinas' }) }}" >
                    <div class="bg" >
                        <h3>Cocinas</h3>
                    </div>
                    <img class="resized" src="{{ asset('bundles/app/images/presentacion/reformas-de-cocinas-high.jpg') }}" title="Reformas de cocinas" alt="Reformas de cocinas" />
                </a>
            </li>
            <li>
                <a href="{{ path ('app_project',{'project': 'rehabilitacion-de-edificios' }) }}" >
                    <div class="bg" >
                        <h3>Edificios</h3>
                    </div>
                    <img class="resized" src="{{ asset('bundles/app/images/presentacion/rehabilitacion-de-edificios-high.jpg') }}" title="Reformas de comunidades" alt="Reformas de comunidades" />
                </a>
            </li>
        </ul>
    {% endblock %}
