{# src/AppBundle/Resources/views/Default/inicio.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block description %}NZ Reformas e Interiorismo, empresa de reformas en Zaragoza. Pisos integrales,
    baños, cocinas, locales, comunidades, ... Financiación directa Sin Bancos.{% endblock %}

    {% block keywords %}NZ Reformas e Interiorismo{% endblock %}

    {% block title %}NZ Reformas e Interiorismo{% endblock %}

    {% block content %}

        <div class="container" >
            <div class="slider" >
                <ul>
                    <li>
                        <img src="{{ asset('bundles/app/images/presentacion/reformas-de-pisos.jpg') }}" title="Reformas de pisos" alt="Reformas de pisos" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-pisos' }) }}" >Reformas de pisos</a></div>
                    </li>
                    <li>
                        <img src="{{ asset('bundles/app/images/presentacion/reformas-de-baños.jpg') }}" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-baños' }) }}" >Reformas de baños</a></div>
                    </li>
                    <li>
                        <img src="{{ asset('bundles/app/images/presentacion/reformas-de-cocinas.jpg') }}" title="Reformas de cocinas" alt="Reformas de cocinas" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-cocinas' }) }}" >Reformas de cocinas</a></div>
                    </li>
                    <li>
                        <img src="{{ asset('bundles/app/images/presentacion/reformas-de-comunidades-y-empresas.jpg') }}" title="Reparación de patios" alt="Reparación de patios" />
                        <div class="content"><a href="{{ path ('app_project',{'project': 'reformas-de-comunidades' }) }}" >Reformas de comunidades y Empresas</a></div>
                    </li>
                    <li>
                        <img src="{{ asset('bundles/app/images/presentacion/oficina.jpg') }}" title="Oficina Construcciones Navascués Zalaya S.L." alt="Oficina Construcciones Navascués Zalaya S.L." />
                        <div class="content"><a href="{{ path ('app_static',{'page': 'empresa' }) }}" >Nuestra oficina, NZ Reformas forma parte de Construcciones Navascués Zalaya S.L.</a></div>
                    </li>
                </ul>
            </div>
        </div>

        <article  class="home">
            <header>
                <img src="{{ asset('bundles/app/images/icon/NZ-Reformas-Interiorismo.png') }}" title="Reformas en Zaragoza" alt="Reformas en Zaragoza" />
            </header>
            <section>
                <h1>Reformas en Zaragoza mucho más que un proyecto constructivo</h1>
                <p>
                    A la hora de tener que realizar <strong>reformas en Zaragoza</strong> o en cualquier 
                    lugar en el que residamos o dispongamos de un espacio a rediseñar, es importante saber 
                    exactamente qué espacio tenemos y lo que es más importante, disponer de asesores 
                    profesionales que nos recomienden lo que mejor nos ayudará a obtener lo que buscamos. 
                </p>
                <p>
                    Por eso, si necesitamos realizar <strong>reformas en Zaragoza</strong>, una opción muy 
                    recomendable es acudir a NZ Reformas. Llevan más de 20 años en el sector de la 
                    remodelación, la rehabilitación y el interiorismo, proporcionando el asesoramiento y 
                    servicio que todos sus clientes necesitan para poder llevar a cabo sus proyectos 
                    constructivos con todas las garantías de un buen acabado final. 
                </p>
                <p>
                    De hecho, todo nuestro equipo de profesionales, cuenta con la experiencia suficiente 
                    para asesorar y orientar a todas las personas que requieran de <strong>reformas en 
                        Zaragoza</strong>, para proporcionarles las soluciones más prácticas y funcionales 
                    a sus espacios, para garantizarles que, una vez finalizado el proyecto constructivo,
                    dispondrán de un espacio o espacios, personalizado, pensado para poder desarrollar 
                    de la manera más confortable todas sus actividades diarias, ya sea a nivel personal 
                    como profesional.
                </p>

            </section>
            <ul class="stacked" >
                <li>
                    <a href="{{ path ('app_project',{'project': 'reformas-de-pisos' }) }}" >

                        <div class="bg-dark" >
                            <h3>Pisos</h3>
                        </div>
                        <img src="{{ asset('bundles/app/images/servicios/Reformas-de-pisos-Zaragoza.jpg') }}" title="Reformas de pisos" alt="Reformas de pisos" />
                    </a>
                </li>
                <li>
                    <a href="{{ path ('app_project',{'project': 'reformas-de-banos' }) }}" >
                        <div class="bg-dark" >
                            <h3>Baños</h3>
                        </div>
                        <img src="{{ asset('bundles/app/images/servicios/Reformas-de-Baños-Zaragoza.jpg') }}" title="Reformas de Baños" alt="Reformas de Baños" />
                    </a>
                </li>
                <li>
                    <a href="{{ path ('app_project',{'project': 'reformas-de-cocinas' }) }}" >
                        <div class="bg-dark" >
                            <h3>Cocinas</h3>
                        </div>
                        <img src="{{ asset('bundles/app/images/servicios/Reformas-de-cocinas-Zaragoza.jpg') }}" title="Reformas de cocinas" alt="Reformas de cocinas" />
                    </a>
                </li>
                <li>
                    <a href="{{ path ('app_project',{'project': 'reformas-de-comunidades' }) }}" >
                        <div class="bg-dark" >
                            <h3>Comunidades</h3>
                        </div>
                        <img src="{{ asset('bundles/app/images/servicios/Reformas-de-comunidades-Zaragoza.jpg') }}" title="Reformas de comunidades" alt="Reformas de comunidades" />
                    </a>
                </li>
            </ul>
            <section>
                <p>
                    En NZ Reformas, velamos por conseguir que nuestros clientes queden satisfechos 
                    con los trabajos realizados, ya que especialmente somos conscientes de que en 
                    muchos casos la realización de los cambios o <strong>reformas en Zaragoza</strong> 
                    son sinónimo, a su vez, de la realización de un cambio personal. 
                </p>
                <p>
                    Por dicho motivo nuestros equipos técnicos velan por conseguir desarrollar los 
                    proyectos de la manera más profesional, rápida y sobre todo, correcta, para 
                    conseguir que todos y cada uno de nuestros proyectos acabe siendo único, 
                    dotándolo de la personalidad propia de la persona o personas que residen en esa 
                    vivienda o acuden a ese negocio a trabajar. 
                </p>   
            </section>
        </article>
    {% endblock %}