{# src/AppBundle/Resources/views/Default/baños.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block keywords %}Proyectos de NZ Reformas{% endblock %}
{% block description %}Proyectos de NZ Reformas{% endblock %}

{% block title %}Proyectos de NZ Reformas{% endblock %}
{% block content %}
    <article>
        <h1>Proyectos de NZ Reformas</h1>
        <ul class="even-odd">
            {% for project in projects %}

                <li>
                    <div class="img-wrapper" >
                        <a href="{{ path ('app_project',{'project': project.slug}) }}" >
                            <img src="{{ asset( project.image ~ '.jpg')}}" alt="{{ project.name }}" title="{{ project.name }}" />
                        </a>
                    </div>                       
                    <div class="text-wrapper" >
                        <div class="text" >
                            <h3><a href="{{ path ('app_project',{'project': project.slug}) }}" >
                                    {{ project.name }}
                                </a></h3>
                            <p>{{ project.description }}</p>
                        </div>                       
                    </div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}