{# src/AppBundle/Resources/views/Default/baños.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block keywords %}{{ project.name }}{% endblock %}
{% block description %}{{ project.description }}{% endblock %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <article>
        <section>
            <header>
                <h1>{{ project.name }}</h1>
            </header>
            <ul class="rounded-basic" >
                {% for gallery in project.galleries %}
                    <li>
                        <a href="{{ path ('app_gallery',{'project': project.slug,'gallery': gallery.slug}) }}" >
                            <h3>{{ gallery.name }}</h3>
                            <img src="{{ asset( gallery.image ~ '.jpg')}}" title="{{ gallery.name }}" alt="{{ gallery.name }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </article>
{% endblock %}