{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Servicios NZ Reformas{% endblock %}
{% block content %}

    <article>
        <h1>Servicios</h1>
        <h2>Reformas en Zaragoza mucho más que un proyecto constructivo</h2> 
        <p>
            A la hora de tener que realizar <strong>reformas en Zaragoza</strong> o en cualquier 
            lugar en el que residamos o dispongamos de un espacio a rediseñar, es importante saber 
            exactamente qué espacio tenemos y lo que es más importante, disponer de asesores 
            profesionales que nos recomienden lo que mejor nos ayudará a obtener lo que buscamos. 
        </p>
        <p>
            Por eso, si necesitamos realizar <strong>reformas en Zaragoza</strong>, una opción muy 
            recomendable es acudir a NZ Reformas. Llevan más de 20 años en el sector de la 
            remodelación, la rehabilitación y el interiorismo, proporcionando el asesoramiento y 
            servicio que todos sus clientes necesitan para poder llevar a cabo sus proyectos 
            constructivos con todas las garantías de un buen acabado final. 
        </p>
        <p>
            De hecho, todo nuestro equipo de profesionales, cuenta con la experiencia suficiente 
            para asesorar y orientar a todas las personas que requieran de <strong>reformas en 
                Zaragoza</strong>, para proporcionarles las soluciones más prácticas y funcionales 
            a sus espacios, para garantizarles que, una vez finalizado el proyecto constructivo,
            dispondrán de un espacio o espacios, personalizado, pensado para poder desarrollar 
            de la manera más confortable todas sus actividades diarias, ya sea a nivel personal 
            como profesional.
        </p>
        <p>
            En NZ Reformas, velamos por conseguir que nuestros clientes queden satisfechos con los 
            trabajos realizados, ya que especialmente somos conscientes de que en muchos casos la 
            realización de los cambios o <strong>reformas en Zaragoza</strong> son sinónimo, a su 
            vez, de la realización de un cambio personal. 
        </p>
        <p>
            Por dicho motivo nuestros equipos técnicos velan por conseguir desarrollar los proyectos
            de la manera más profesional, rápida y sobre todo, correcta, para conseguir que todos y 
            cada uno de nuestros proyectos acabe siendo único, dotándolo de la personalidad propia 
            de la persona o personas que residen en esa vivienda o acuden a ese negocio a trabajar. 
        </p>
        <p>
            Contáctenos a través de nuestra <a href="{{ path('app_contact') }}" >página de contacto
            </a>, correo electrónico (info@nzreformas.es) o teléfono (976 56 55 24) y le 
            proporcionaremos el presupuesto y asesoramiento necesarios para indicarle el coste de su
            reforma y las posibilidades potenciales de sus espacios.
        </p>

        <ul class="rounded-basic">
            <h2>Reformas en comunidades</h2>
            <li>
                <a href="{{ path ('app_static',{'page': 'ascensores'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Ascensores en comunidades" title="Ascensores en comunidades" />
                    <h3>Ascensores en comunidades</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'fachadas'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Rehabilitación de fachadas" title="Rehabilitación de fachadas" />
                    <h3>Rehabilitación de fachadas</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'impermeabilizaciones'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Impermeabilizaciones" title="Impermeabilizaciones" />
                    <h3>Impermeabilizaciones</h3>               
                </a>
            </li>
        </ul>
        <ul class="rounded-basic" >
            <h2>Reformas en viviendas</h2>
            <li>
                <a href="{{ path ('app_static',{'page': 'integrales'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Reformas integrales" title="Reformas integrales" />
                    <h3>Reformas integrales</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'baños'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Reformas de baños" title="Reformas de baños" />
                    <h3>Reformas de baños</h3>
                </a>
            </li>
            <li>

                <a href="{{ path ('app_static',{'page': 'cocinas'}) }}" >
                    <img src="{{ asset('bundles/app/images/proyectos/reformas-de-baños/reformas-de-baños.jpg')}}" alt="Reformas de cocinas" title="Reformas de cocinas" />
                    <h3>Reformas de cocinas</h3>
                </a>
            </li>
        </ul>
    </article>

{% endblock %}
