{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Servicios NZ Reformas{% endblock %}
{% block content %}

    <article>
        <header>
            <h1>Servicios</h1>
            <h2>Presupuestos de reformas en Zaragoza para modificar nuestros espacios</h2>
        </header>
        <p>
            En toda remodelación o rehabilitación, ya sea de un negocio particular o de una vivienda
            , es importante tener en cuenta algunos aspectos como el volumen de inversión a realizar
            para contemplar realmente el coste que tendrá realizar la adaptación de los espacios. 
            Por ello es importante solicitar diversos <strong>presupuestos</strong> de reformas en 
            Zaragoza, para contrastar y así escoger el que mejor se adapte a nuestras posibilidades. 
        </p>
        <p>
            Es por ello que en NZ Reformas, se realizan <strong>presupuestos de reformas en Zaragoza
            </strong>, ajustados a las necesidades y posibilidades del cliente.  De esta manera 
            podemos realizar y convertir en realidad los proyectos constructivos de nuestros 
            clientes, sabiendo de antemano del espacio real que disponen y de todas las peticiones 
            que desean hacer sobre una estancia concreta. Así, de esta manera, se consigue 
            convertir en realidad la idea inicial que se encuentra en la mente de nuestros clientes.
            Mejorando sus espacios y haciendo que todo ello acabe siendo un nuevo entorno.
        </p>
        <p>
            En NZ Reformas, disponemos de todo lo necesario para convertir un espacio antiguo en uno
            nuevo, realizando <strong>presupuestos de reformas en Zaragoza</strong>, adaptando todo 
            lo necesario para que los espacios cumplan con los requisitos que desean los clientes. 
        </p>
        <p>
            Y así poder disfrutar de su nuevo hogar u oficina, con los nuevos materiales utilizados,
            convirtiendo en realidad todos los requisitos que servirán para mejorar las necesidades 
            de nuestros usuarios para que desarrollen de una mejor manera sus actividades diarias, 
            tanto a nivel personal como profesional.
        </p>
        <p>
            Si estás pensando en realizar una reforma, una rehabilitación o una modificación del 
            interiorismo para poder realizar un cambio en sus espacios, no dude en realizarnos su 
            petición a través de nuestra <a href="{{ path ('app_contact') }}" >
                página de contacto </a>, correo electrónico (info@nzreformasintegrales.es) o 
            teléfono (976 56 55 24) y le proporcionaremos el presupuesto o <strong>presupuestos de 
                reformas en Zaragoza</strong>, así como el asesoramiento que pueda necesitar para 
            proporcionarle todo lo que nuestros clientes puedan requerir para conseguir su nuevo 
            espacio de trabajo o personal.
        </p>
        <ul class="rounded-basic">
            <a href="{{ path ('app_static',{'page': 'reformas-de-comunidades-en-zaragoza'}) }}" >
                <h2>Reformas en comunidades</h2>
            </a>
            <p>
                Gestión de reformas en comunidades y reparación de edificios. Desarrollamos desde 
                grandes proyectos, a modificaciones sencillas en los que la redistribución del 
                espacio sea mínima. Proponemos diferentes modelos de pago, conforme a las 
                necesidades del cliente.
            </p>
            <li>
                <a href="{{ path ('app_static',{'page': 'rehabilitacion-de-fachadas-en-zaragoza'}) }}" >
                    <img src="{{ asset('bundles/app/images/servicios/rehabilitacion-de-fachadas-zaragoza-thumb.jpg')}}" alt="Rehabilitación de fachadas" title="Rehabilitación de fachadas" />
                    <h3>Rehabilitación de fachadas</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'impermeabilizaciones-en-zaragoza'}) }}" >
                    <img src="{{ asset('bundles/app/images/servicios/impermeabilizaciones-en-zaragoza-thumb.jpg')}}" alt="Impermeabilizaciones" title="Impermeabilizaciones" />
                    <h3>Impermeabilizaciones</h3>               
                </a>
            </li>
        </ul>
        <ul class="rounded-basic" >
            <a href="{{ path ('app_static',{'page': 'reformas-pisos-zaragoza'}) }}" >                
                <h2>Reformas en pisos</h2>
            </a>
            <p>
                Reformas de pisos, y diseño de espacios interiores. Planificamos el proyecto de 
                reforma, realizando un estudio previo para sacar el mayor partido a la distribución 
                del espacio según las necesidades de uso, y la solución más asequible.
            </p>
            <li>
                <a href="{{ path ('app_static',{'page': 'reformas-integrales-zaragoza'}) }}" >
                    <img src="{{ asset('bundles/app/images/servicios/reformas-integrales-zaragoza-thumb.jpg')}}" alt="Reformas integrales" title="Reformas integrales" />
                    <h3>Reformas integrales</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'reformas-de-banos-zaragoza'}) }}" >
                    <img src="{{ asset('bundles/app/images/servicios/reformas-de-banos-zaragoza-thumb.jpg')}}" alt="Reformas de baños" title="Reformas de baños" />
                    <h3>Reformas de baños</h3>
                </a>
            </li>
            <li>
                <a href="{{ path ('app_static',{'page': 'reformas-de-cocinas-zaragoza'}) }}" >
                    <img src="{{ asset('bundles/app/images/servicios/reformas-de-cocinas-zaragoza-thumb.jpg')}}" alt="Reformas de cocinas" title="Reformas de cocinas" />
                    <h3>Reformas de cocinas</h3>
                </a>
            </li>
        </ul>
    </article>

{% endblock %}
