<header class="navigation">
    <div class="info" >        
        <section>E-mail: <a href="{{ path ('app_contact') }}" >info@nzreformas.es</a></section>
        <section>Teléfono: <a href="{{ path ('app_contact') }}" >976 56 55 24</a></section>
        <section>
            <a href="https://www.facebook.com/reformasintegraleszaragozanz/" target="_blank" >
                <img src="{{ asset('bundles/app/images/icon/facebook.png')}}" alt="Facebook" title="Facebook" />
            </a>
            <a href="https://twitter.com/nz_reformas" target="_blank" >
                <img src="{{ asset('bundles/app/images/icon/twitter.png')}}" alt="Twitter" title="Twitter" />
            </a>
            <a href="https://plus.google.com/+NZREFORMASZaragoza" target="_blank" >
                <img src="{{ asset('bundles/app/images/icon/google-plus.png')}}" alt="Google +" title="Google +" />
            </a>
        </section>
    </div>
    <nav>
        <div class="nz" >
            <img class="NZ" src="{{ asset('bundles/app/images/icon/nz.png')}}" alt="NZ Reformas" title="NZ Reformas" />
        </div>

        <a class="menu-button" href="javascript:void(0)" >
            <img src="{{ asset('bundles/app/images/icon/menu.png')}}" alt="Menú" title="Menú" />
        </a>

        <ul>
            <li class="back-button" >
                <img class="NZ" src="{{ asset('bundles/app/images/icon/nz.png')}}" alt="NZ Reformas" title="NZ Reformas" />
                <a href="javascript:void(0)" >
                    <img src="{{ asset('bundles/app/images/icon/left.png')}}" alt="Atrás" title="Atrás" />
                </a>
            </li>
            <li><a href="{{ path('app_homepage') }}">Inicio</a></li>
            <li ><a href="{{ path ('app_static',{'page': 'servicios'}) }}" >Servicios</a></li>
            <li class="more" ><a href="{{ path ('app_static',{'page': 'proyectos'}) }}" >Proyectos</a>
                <ul >
                    {% for project in projects %}
                        <li><a href="{{ path ('app_project',{'project': project.slug }) }}" >{{ project.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path ('app_static',{'page': 'empresa' }) }}">Empresa</a></li>
            <li><a href="{{ path('blog_homepage',{'page': '1' }) }}">Blog</a></li>
            <li ><a href="{{ path ('app_contact') }}" >Contacto</a></li>
            <li class="button" ><a href="{{  path ('app_contact') }}" >Pedir presupuesto</a></li>
        </ul>
    </nav>
</header>

<div class="up">
    <a href="javascript:void(0)" >
        <img src="{{ asset('bundles/app/images/icon/up.png')}}" alt="Ir arriba" title="Ir arriba" />
    </a>
</div>