<header class="navigation">
    <nav>
        <div class="logo" >
            <img 
                <img class="NZ" src="{{ asset('bundles/app/images/icon/NZ-Reformas.png')}}" alt="NZ Reformas" title="NZ Reformas" />
        </div>

        <a class="menu-button" href="javascript:void(0)" >
            <img src="{{ asset('bundles/app/images/icon/menu.png')}}" alt="Menú" title="Menú" />
        </a>

        <ul>
            <li class="back-button" >
                <img class="NZ" src="{{ asset('bundles/app/images/icon/NZ.png')}}" alt="NZ Reformas" title="NZ Reformas" />
                <a href="javascript:void(0)" >
                    <img src="{{ asset('bundles/app/images/icon/left.png')}}" alt="Atrás" title="Atrás" />
                </a>
            </li>
            <li><a href="{{ path('app_homepage') }}">Inicio</a></li>
            <li class="more" ><a href="{{ path ('app_static',{'page': 'servicios'}) }}" >Servicios</a>
                <ul>
                    <li class="menu-title" ><a href="{{ path ('app_static',{'page': 'Reformas-de-comunidades-en-Zaragoza'}) }}" >Comunidades</a>
                        <ul>
                            <li><a href="{{ path ('app_static',{'page': 'Rehabilitacion-de-fachadas-en-Zaragoza'}) }}" >Fachadas</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'Impermeabilizaciones-en-Zaragoza'}) }}" >Impermeabilizaciones</a></li>
                        </ul>
                    </li>
                    <li class="menu-title" ><a href="{{ path ('app_static',{'page': 'Reformas-pisos-Zaragoza'}) }}" >Pisos</a>
                        <ul>
                            <li><a href="{{ path ('app_static',{'page': 'integrales'}) }}" >Integrales</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'banos'}) }}" >Baños</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'cocinas'}) }}" >Cocinas</a></li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li class="more" ><a href="{{ path ('app_static',{'page': 'proyectos'}) }}" >Proyectos</a>
                <ul >
                    {% for project in projects %}
                        <li><a href="{{ path ('app_project',{'project': project.slug }) }}" >{{ project.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path ('app_static',{'page': 'Empresa-de-reformas-en-Zaragoza'}) }}">Empresa</a></li>
            <li class="contact" ><a href="javascript:void(0)" >Contacto</a></li>
            <li class="button" ><a href="{{  path('app_contact',{'page': 'Presupuestos-de-reformas-en-Zaragoza'}) }}" >Pedir presupuesto</a></li>
        </ul>
    </nav>
</header>

<div class="up">
    <a href="javascript:void(0)" >
        <img src="{{ asset('bundles/app/images/icon/up.png')}}" alt="Ir arriba" title="Ir arriba" />
    </a>
</div>