<header class="navigation">
    <nav>
        <div class="logo" >
            <img 
                <img class="NZ" src="{{ asset('bundles/app/images/icon/nz.png')}}" alt="NZ Reformas" title="NZ Reformas" />
        </div>

        <a class="menu-button" href="javascript:void(0)" >
            <img src="{{ asset('bundles/app/images/icon/menu.png')}}" alt="Menú" title="Menú" />
        </a>

        <ul>
            <li class="back-button" >
                <img class="NZ" src="{{ asset('bundles/app/images/icon/nz.png')}}" alt="NZ Reformas" title="NZ Reformas" />
                <a href="javascript:void(0)" >
                    <img src="{{ asset('bundles/app/images/icon/left.png')}}" alt="Atrás" title="Atrás" />
                </a>
            </li>
            <li><a href="{{ path('app_homepage') }}">Inicio</a></li>
            <li class="more" ><a href="{{ path ('app_static',{'page': 'servicios'}) }}" >Servicios</a>
                <ul>
                    <li class="menu-title" ><a href="{{ path ('app_static',{'page': 'reformas-de-comunidades-en-zaragoza'}) }}" >Comunidades</a>
                        <ul>
                            <li><a href="{{ path ('app_static',{'page': 'rehabilitacion-de-fachadas-en-zaragoza'}) }}" >Fachadas</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'impermeabilizaciones-en-zaragoza'}) }}" >Impermeabilizaciones</a></li>
                        </ul>
                    </li>
                    <li class="menu-title" ><a href="{{ path ('app_static',{'page': 'reformas-pisos-zaragoza'}) }}" >Pisos</a>
                        <ul>
                            <li><a href="{{ path ('app_static',{'page': 'reformas-integrales-zaragoza'}) }}" >Integrales</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'reformas-de-banos-zaragoza'}) }}" >Baños</a></li>
                            <li><a href="{{ path ('app_static',{'page': 'reformas-de-cocinas-zaragoza'}) }}" >Cocinas</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="more" ><a href="{{ path ('app_static',{'page': 'proyectos'}) }}" >Proyectos</a>
                <ul >
                    {% for project in projects %}
                        <li><a href="{{ path ('app_project',{'project': project.slug }) }}" >{{ project.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path ('app_static',{'page': 'empresa-de-reformas-en-zaragoza'}) }}">Empresa</a></li>
            <li ><a href="{{ path ('app_contact') }}" >Contacto</a></li>
            <li class="button" ><a href="{{  path ('app_contact') }}" >Pedir presupuesto</a></li>
        </ul>
    </nav>
</header>

<div class="up">
    <a href="javascript:void(0)" >
        <img src="{{ asset('bundles/app/images/icon/up.png')}}" alt="Ir arriba" title="Ir arriba" />
    </a>
</div>