<!DOCTYPE html>
{% spaceless %}
    <html lang="es" >
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            <meta name="robots" content="noindex" >
            <link rel="icon" type="image/vnd.microsoft.icon" href="{{ asset('bundles/app/images/icon/favicon.ico') }}"/>
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="{% block description %}{% endblock %}">
            <link href='http://fonts.googleapis.com/css?family=Questrial|Sanchez:400italic,400' rel='stylesheet' type='text/css'>
            {% stylesheets '@AppBundle/Resources/public/css/*.css' %}
            <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
            <script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            {% javascripts '@AppBundle/Resources/public/js/min.js' %}
            <script async src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% block extra %}
            {% endblock %}
        </head>
        <body>

            {{ render(controller('AppBundle:Page:menu')) }}

            <div class="page-content" >
                {% block main %}
                    <main class="single">
                        Contenido
                    </main>
                {% endblock %}
            </div>

            {{ render(controller('AppBundle:page:footer')) }}

            <script type="text/javascript" >
                {% block extraJS %}
                {% endblock %}
            </script>

        </body>
    </html>
{% endspaceless %}