<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
        <title>{% block title %}NZ Reformas e Interiorismo{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@MainPagesBundle/Resources/public/css/*'
            %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id="wrapper"  >
            <header id="header" >
                <div class="top" >
                    <nav >
                        <ul class="navigation" >
                            <li ><a href="{{ path('Main_pages_homepage') }}">Inicio</a></li>
                            <li ><a href="{{ path('BlogBundle_homepage') }}">Blog</a></li>
                            <li ><a href="{{ path ('Main_pages_static',{'page': 'empresa'}) }}">Empresa</a></li>
                             <li ><a href="{{ path('Main_pages_contact') }}">Contacto</a></li>
                        </ul>
                    </nav>
                </div>

                {% block header %}
                    <h2 ><a href="{{ path('Main_pages_homepage') }}">NZ Reformas e Interiorismo</a></h2>
                    <h3 ><a href="{{ path('Main_pages_homepage') }}">Tu casa tal<br> y como te la imaginas</a></h3>
                        {% endblock %}

            </header>

            <section class="content" >
                {% block body %}
                    Cuerpo
                {% endblock %}
            </section>

            <footer >
                NZ Reformas e Interiorismo 2015
            </footer>
        </section>

    {% block javascripts %}{% endblock %}
</body>
</html>