{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}

{% extends 'BlogBundle::blog.html.twig' %}

    {% block content %}
        {% for blog in blogs %}
            <article class="blog">
                <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
                <header>
                    <h2><a href="{{ path('BlogBundle_blog_show', { 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                </header>

                <img src="{{ asset(['images/', blog.image]|join) }}" />
                <div class="snippet">
                    <p>{{ blog.blog(500) }}</p>
                    <p class="continue"><a href="{{ path('BlogBundle_blog_show', { 'slug': blog.slug }) }}">Continuar leyendo...</a></p>
                </div>

                <footer class="meta">
                    <p>Commentarios: <a href="{{ path('BlogBundle_blog_show', { 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                    <p>Creado el <span class="highlight">{{ blog.author }}</span> a las {{ blog.created|date('h:iA') }}</p>
                    <p>Etiquetas: <span class="highlight">{{ blog.tags }}</span></p>
                </footer>
            </article>
        {% else %}
            <p>NO hay entradas en NZ Blog</p>
        {% endfor %}
    {% endblock %}
    
    {% block sidebar %}
        <section class="section">
            <header>
                <h3>Nube de etiquetas</h3>
            </header>
            <p class="tags">
                {% for tag, weight in tags %}
                    <span class="weight-{{ weight }}">{{ tag }}</span>
                {% else %}
                <p>No hay etiquetas</p>
            {% endfor %}
        </p>
    </section>

    <section class="section">
        <header>
            <h3>Últimos comentarios</h3>
        </header>
        {% for comment in latestComments %}
            <article class="comment">
                <header>
                    <p class="small"><span class="highlight">{{ comment.user }}</span> comentado el
                        <a href="{{ path('BlogBundle_blog_show', { 'slug': comment.blog.slug }) }}#comment-{{ comment.id }}">
                            {{ comment.blog.title }}
                        </a>
                        <em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>
                    </p>
                </header>
                <p>{{ comment.comment }}</p>
                </p>
            </article>
        {% else %}
            <p>No hay comentarios recientes</p>
        {% endfor %}
    </section>
{% endblock %}