<article>
    <header>
        <h2><a href="{{ path('blog_homepage',{'page': '1' }) }}">NZ Blog</a></h2>
    </header>
    <section>
        <h3>Categorías</h3>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('blog_catag_show', { 'slug': category.slug,'page': 1 }) }}" >{{ category.name }}</a>
                </li>
            {% else %}
                No hay categorías
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Nube de etiquetas</h3>
        {% for tag in tags %}
            <code>
                <a href="{{ path('blog_catag_show', { 'slug': tag.slug,'page': 1 }) }}" >{{ tag.name }}</a>
            </code>
        {% else %}
            No hay etiquetas
        {% endfor %}
    </section>

    <section>
        <h3>Últimos comentarios</h3>
        <ul>
            {% for comment in latestComments %}
                <li>
                    {{ comment.name }} :
                    <strong><a href="{{ path('blog_article_show', { 'slug': comment.article.slug }) }}#{{ comment.id }}" >
                            <em>{{ comment.comment }}</em>
                        </a></strong>
                    <footer>
                        <a href="{{ path('blog_article_show', { 'slug': comment.article.slug }) }}">
                            {{ comment.article.title }}
                        </a> - <time>{{ comment.created|created_ago }}</time>
                    </footer>
                    <hr>
                </li>
            {% else %}
                <p>No hay comentarios recientes</p>
            {% endfor %}
        </ul>
    </section>
</article>