{% extends 'AppBundle::main.html.twig' %}

{% block extra %}<meta name="robots" content="noindex">{% endblock %}
{% block title %}Proyectos | NZ Reformas{% endblock %}

{% block content %}
    <article>
        <nav class="breadcrumbs">
            <a href="{{ path('app_homepage') }}">Inicio</a>
            <a href="{{ path('backend_homepage') }}" >Panel de control</a>
        </nav>
        <header>
            <h1>Proyectos</h1>
        </header>
        <table>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Intro</th>
                    <th><a href="{{ path('backend_project_new') }}" >Añadir</a></th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name | capitalize }}</td>
                        <td><img src="{{ asset(project.image.src )}}" width=100 /></td>
                        <td>{{ project.introduction | striptags | slice(0, 100) }}...</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('backend_project_show', { 'id': project.id }) }}" >Ver</a>
                                </li>            
                                <li>        
                                    <a href="{{ path('backend_project_edit', { 'id': project.id }) }}" >Editar</a>
                                </li>            
                                <li>
                                    <a class="confirmation" href="{{ path('backend_project_remove', { 'id': project.id }) }}" >Eliminar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No se han encontrado proyectos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if paginador.Total() > 1 %}
            <div class="pagination">
                <ul>
                    {% if paginador.Start() != 1 %}
                        <li class="page-prev"><a href="{{ path('backend_projects',{'page': 1}) }}">1</a></li>
                        {% endif %}
                        {% if paginador.Start() > 2 %}
                        <li>...</li>
                        {% endif %}

                    {% for i in paginador.Start()..paginador.End() %}
                        <li><a class="{% if i == paginador.Current() %}active{% endif %}" href="{{ path('backend_projects',{'page': i}) }}" >{{ i }}</a></li>
                        {% endfor %}

                    {% if paginador.End() < paginador.Total()-1 %}
                        <li>...</li>
                        {% endif %}
                        {% if paginador.End() != paginador.Total() %}
                        <li class="page-prev"><a href="{{ path('backend_projects',{'page': paginador.Total()}) }}">{{ paginador.Total() }}</a></li>
                        {% endif %}
                </ul>
            </div>
        {% endif %}
    </article>
{% endblock %}