<ul class="gallery" >
    <li>
        <a onclick="load('img-1')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-1.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-1-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-1" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-8')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-2')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-1" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-1.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-2')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(1).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(1)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-2" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-1')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-3')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-2" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(1).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-3')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(2).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(2)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-3" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-2')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-4')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-3" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2(2).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-4')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-4" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-3')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-5')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-4" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-5')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3(2).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3(2)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-5" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-4')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-6')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-5" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-3(2).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-6')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(1).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(1)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-6" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-5')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-7')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-6" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(1).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-7')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(2).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(2)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-7" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-6')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-8')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-7" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(2).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-8')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(3).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(3)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-8" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-7')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-9')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-8" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-3(3).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-9')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-4.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-4-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-9" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-8')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-10')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-9" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-4.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-10')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(2).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(2)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-10" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-9')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-11')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-10" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(2).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>

    <li>
        <a onclick="load('img-11')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(3).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(3)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-11" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-10')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-12')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-11" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(3).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-12')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(4).jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(4)-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-12" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-11')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-13')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-12" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-5(4).jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-13')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-13" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-12')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-1')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-13" data-src="{{ asset('/bundles/app/images/exposicion/baños/coleccion-baños/coleccion-baños-2.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
</ul>