<ul class="gallery" >
    <li>
        <a onclick="load('img-47')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-1.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-1-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-47" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-51')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-48')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-47" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-1.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-48')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-2.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-2-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-48" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-47')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-49')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-48" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-2.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-49')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-3.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-3-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-49" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-48')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-50')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-49" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-3.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-50')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-4.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-4-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-50" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-49')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-51')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-50" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-4.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-51')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-5.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-5-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-51" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-50')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-47')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-51" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-5/vivienda-5-5.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
</ul>