<ul class="gallery" >
    <li>
        <a onclick="load('img-32')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-1.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-1-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-32" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-45')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-33')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-32" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-1.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-33')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-2.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-2-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-33" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-32')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-34')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-33" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-2.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-34')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-3.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-3-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-34" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-33')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-35')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-34" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-3.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-35')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-4.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-4-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-35" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-34')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-36')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-35" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-4.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-36')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-5.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-5-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-36" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-35')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-37')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-36" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-5.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-37')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-6.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-6-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-37" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-36')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-38')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-37" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-6.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-38')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-7.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-7-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-38" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-37')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-39')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-38" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-7.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-39')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-8.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-8-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-39" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-38')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-40')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-39" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-8.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-40')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-9.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-9-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-40" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-39')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-41')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-40" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-9.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
     <li>
        <a onclick="load('img-41')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-10.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-10-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-41" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-40')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-42')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-41" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-10.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-42')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-11.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-11-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-42" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-41')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-43')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-42" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-11.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-43')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-12.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-12-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-43" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-42')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-44')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-43" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-12.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-44')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-13.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-13-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-44" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-43')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-45')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-44" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-13.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-45')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-14.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-14-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-45" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-44')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-32')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-45" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-4/Vivienda-4-14.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
</ul>