<ul class="gallery" >
    <li>
        <a onclick="load('img-21')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-1.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-1-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-21" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-31')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-22')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-21" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-1.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-22')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-2.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-2-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-22" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-21')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-23')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-22" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-2.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-23')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-3.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-3-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-23" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-22')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-24')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-23" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-3.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-24')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-4.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-4-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-24" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-23')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-25')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-24" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-4.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-25')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-5.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-5-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-25" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-24')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-26')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-25" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-5.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-26')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-6.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-6-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-26" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-25')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-27')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-26" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-6.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-27')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-7.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-7-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-27" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-26')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-28')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-27" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-7.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-28')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-8.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-8-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-28" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-27')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-29')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-28" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-8.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-29')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-9.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-9-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-29" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-28')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-30')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-29" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-9.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-30')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-10.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-10-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-30" class="overlay" >
                <a onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-29')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-31')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-30" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-10.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
    <li>
        <a onclick="load('img-31')" >
            <noscript><a href="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-11.jpg')}}" target="_blank"></noscript>
                <img class="zoom" src="{{ asset('bundles/app/images/icon/zoom.png')}}" title="Ampliar" alt="Ampliar" >
                <img class="thumb" src="{{ asset( '/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-11-thumb.jpg')}}" title="Imagen no disponible" alt="Imagen no disponible" />
            </a>
            <div id="pic-31" class="overlay" >
                <a href="#close" onclick="location.replace('#close')" class="close" title="Close"><img src="{{ asset('bundles/app/images/icon/close.png')}}" title="Cerrar" alt="Cerrar" ></a>
                <a onclick="load('img-30')" class="prev" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Anterior" alt="Anterior" ></a>
                <a onclick="load('img-21')" class="next" ><img src="{{ asset('bundles/app/images/icon/left.png')}}" title="Siguiente" alt="Siguiente" ></a>
                <img id="img-31" data-src="{{ asset('/bundles/app/images/exposicion/viviendas/vivienda-3/vivienda-3-11.jpg')}}" title="Title" alt="Alt" />
            </div>
    </li>
</ul>