{# src/Main/PagesBundle/Resources/views/Default/contact.html.twig #}
{% extends 'MainPagesBundle::main.html.twig' %}

{% block content %}
    <article>
        <header><h3>Formulario de contacto</h3></header>
        
        {% for flashMessage in app.session.flashbag.get('msg') %}
            {{ flashMessage }}
        {% endfor %}
        <p>¿Quiere contactar con NZ Reformas e Interiorismo?</p>
        <form action="{{ path('Main_pages_contact') }}" method="post" {{ form_enctype(form) }} class="Contact">
            {{ form_errors(form) }}

            {{ form_row(form.name, {'label': 'Nombre'}) }}
            {{ form_row(form.email, {'label': 'E-mail'}) }}
            {{ form_row(form.subject, {'label': 'Asunto'}) }}
            {{ form_row(form.body, {'label': 'Mensaje'}) }}

            {{ form_rest(form) }}

            <input type="submit" value="Submit" />
        </form>
    </article>
{% endblock %}