{% extends 'AppBundle::main.html.twig' %}
{% import "AppBundle:Static:share.html.twig" as share %}

{% block title %}Vivienda 4 | NZ Reformas{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <article>
        <nav class="breadcrumbs">
            <a href="{{ path('app_homepage') }}">Inicio</a>
            <a href="{{ path ('app_static',{'page': 'exposicion-de-reformas' }) }}">Exposición</a>
        </nav>
        <section class="zona-expo" id="vivienda-4">
            <header>
                <h1>Vivienda 4</h1>
            </header>
            <p>
                En la vivienda encontraremos matices de estilo rústico-moderno, además digamos que la
                vivienda es "tope de gama", el equipamiento y los acabados son de alta calidad.
            </p>
            <p>
                En toda la vivienda (incluidos baño y cocina) se ha colocado suelo de bambú, es un
                suelo un poquito más caro con muy buenas propiedades: resistente, estable, 
                termorregulador, absorbe el ruido, antideslizante y ecológico. El bambú crece muy 
                deprisa, además no es la misma variedad que comen los pandas.
            </p>
            <p>
                Además del suelo de bambú se han elegido otros materiales singulares. En la cocina 
                se alternan tres colores, negro, gris y blanco, los cuales se plantean en los acabados
                de los muebles, la encimera y las paredes. Si nos fijamos, vemos que no todos los 
                muebles tampoco la encimera, ni la baldosa, son del mismo color. Tenemos una combinación
                frente otra logrando uniformidad. Por último, gracias al rojo vivo de los taburetes 
                en la barra de desayuno conseguimos un puntito de gracia que deja un resultado muy 
                original.
            </p>
            <p>
                En el baño conviven varios materiales, bambú, madera, y piedra natural, esculpida
                a mano en el caso del plato de ducha y la poza del lavabo. También se ha revestido 
                con piedra el "exterior de la vivienda". La piedra sirve tanto para interiores como 
                para exteriores, además de su resistencia y regulación-termico acústica, la piedra 
                presenta un estilo rústico, 0natural y sereno.
            </p>
            {% include "AppBundle:Static/expo/galerias:vivienda-4.html.twig" %}
            <nav>
                <a class="left" href="{{ path ('app_expo',{'page': 'vivienda-3' }) }}">
                    <button type="button">Vivienda 3</button>
                </a>
                <a class="right" href="{{ path ('app_expo',{'page': 'vivienda-5' }) }}">
                    <button type="button">Vivienda 5</button>
                </a>
            </nav>
        </section>
        {{ share.social( app.request.uri ) }}
    </article>
{% endblock %}

{% block extraJS %}
    <script type="text/javascript" >

        function load(myimg) { // load larger img
            var img = document.getElementById(myimg); // get img id
            img.src = img.getAttribute("data-src"); // switch "data-src" to "src" on corresponding img
            id = myimg.replace(/^\D+/g, ''); // get number id from img id ("#img-1") ready for arrow key nav
            location.replace('#pic-' + id); // go to hashed url without affecting browser history
            document.onkeydown = galleryNav; // start arrow key nav
        }

        var id = window.location.hash.substr(1).replace(/^\D+/g, ''); // get hash from url ("#pic-1") and get number id

        if (id) {
            load('img-' + id);
        } // load larger img

        function closeX() {
            id = null;
            location.replace('#close');
        } // close larger img

        function keyCheck(keyCodeNum) { /* #### - keyboard nav controls - #### */
            var count = 0;
            var num = document.getElementsByClassName('thumb');
            for (var i = 0; i < num.length; i++) {
                if (num[i].id.startsWith('img-')) {
                    count++;
                } // count big pics (".big-img") in #gallery
            }
            switch (keyCodeNum) { // setup key code actions
                case 27: // esc key
                    closeX();
                    break;
                case 37: // left key
                    id--;
                    id < 1 ? load('img-' + count) : load('img-' + id);
                    break;
                case 39: // right key
                    id++;
                    id > count ? load('img-1') : load('img-' + id);
                    break;
                default:
                    break;
            }
        }

        function galleryNav(event) { // tie keyboard nav controls to arrow key presses
            var keyDown = event || window.event,
                    key = (keyDown.which) ? keyDown.which : keyDown.keyCode;
            if ((window.location.hash.substr(1)) !== 'close') {
                keyCheck(key);
            }
            return false;
        }

    </script>
{% endblock %}