{# src/BlogBundle/Resouces/views/Blog/article.html.twig #}
{% extends 'BlogBundle::blog.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
    <main class="single" >
        <article>
            <header>
                <h1>{{ article.title }}</h1>
                <h2><a href="{{ path('blog_category_show', { 'slug': category.slug,'page': 1 }) }}" >{{ category.name }}</a></h2>
                <date>Creado el {{ article.created|date('l, F j, Y') }}</date>
            </header>
            <img src="{{ asset(['images/blog/', article.image]|join) }}" alt="{{ article.title }} No se ha encontrado la imagen" />
            <p>
                {{ article.article | nl2br }}
            </p>
            <footer>
                <address>{{ article.author }}</address>
                {% for tag in tags %}
                    <a href="{{ path('blog_tag_show', { 'slug': tag.slug,'page': 1 }) }}" ><code>{{ tag.name }}</code></a>
                        {% else %}
                    No hay etiquetas
                {% endfor %}
            </footer>
            <section>
                <h2>Comentarios</h2>
                {% include 'BlogBundle:Comment:index.html.twig' with { 'comments': comments } %}

                {% render controller('BlogBundle:Comment:new' , { 'article_id': article.id }) %}
            </section>
        </article>
    </main>
{% endblock %}