{# src/BlogBundle/Resouces/views/Blog/article.html.twig #}
{% extends 'BlogBundle::blog.html.twig' %}
{% import "AppBundle:Static:share.html.twig" as share %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
        <section>
            <header>
                <h1>{{ article.title }}</h1>
                <date>Publicado el {{ article.created | date('d/m/Y') }}</date>
            </header>
            <img src="{{ asset( ['bundles/blog/images/articles/', article.image] | join) }}" alt="{{ article.title }}" title="{{ article.title }}" />
            {{ article.article | raw }}
            <h3>Categoria</h3>
            <h3><a href="{{ path('blog_catag_show', { 'slug': category.slug,'page': 1 }) }}" >{{ category.name }}</a></h3>
            <h3>Etiquetas</h3>
            {% for tag in tags %}
                <a href="{{ path('blog_catag_show', { 'slug': tag.slug,'page': 1 }) }}" ><code>{{ tag.name }}</code></a>
                    {% else %}
                No hay etiquetas
            {% endfor %}
            {{ share.social( app.request.uri ) }}
        </section>
        <section>
            <h2>Comentarios</h2>
            {% include 'BlogBundle:Comment:index.html.twig' with { 'comments': comments } %}

            {% render controller('BlogBundle:Comment:new' , { 'slug': article.slug }) %}
        </section>
    </article>

{% endblock %}