{# src/BlogBundle/Resouces/views/Blog/category.html.twig #}
{% extends 'BlogBundle::blog.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <header>
        <h1>{{ category.name }}</h1>
    </header>
    {% for article in articles %}
        <article>
            <h3><a href="{{ path('blog_article_show', { 'slug': article.slug }) }}">{{ article.title }}</a></h3>
            <p>
                {{ article.article(300) }}... <a href="{{ path('blog_article_show', { 'slug': article.slug }) }}" class="read-more" >Leer más</a>
            </p>
            {% if not loop.last %}
                <hr>
            {% endif %}
        </article>

    {% else %}
        <p>NO hay entradas en NZ Blog relacionadas con la categoría <strong>{{ category.name }}</strong></p>
    {% endfor %}
    {% if paginador.Total() > 1 %}
        <div class="pagination">
            <ul>
                {% if paginador.Start() != 1 %}
                    <li class="page-prev"><a href="{{ path('blog_homepage',{'page': 1}) }}">1</a></li>
                    {% endif %}
                    {% if paginador.Start() > 2 %}
                    <li>...</li>
                    {% endif %}

                {% for i in paginador.Start()..paginador.End() %}
                    <li><a class="{% if i == paginador.Current() %}active{% endif %}" href="{{ path('blog_homepage',{'page': i}) }}" >{{ i }}</a></li>
                    {% endfor %}

                {% if paginador.End() < paginador.Total()-1 %}
                    <li>...</li>
                    {% endif %}
                    {% if paginador.End() != paginador.Total() %}
                    <li class="page-prev"><a href="{{ path('blog_homepage',{'page': paginador.Total()}) }}">{{ paginador.Total() }}</a></li>
                    {% endif %}
            </ul>

        </div>
    {% endif %} 
{% endblock %}